In [1]:
from pandas import read_csv
from matplotlib import pyplot
from numpy import sqrt
import warnings
import itertools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as snf

In [2]:
coca=pd.read_excel("C:\\Users\\Admin\\Downloads\\CocaCola_Sales_Rawdata.xlsx")

In [3]:
coca.head()

  Quarter        Sales
0   Q1_86  1734.827000
1   Q2_86  2244.960999
2   Q3_86  2533.804993
3   Q4_86  2154.962997
4   Q1_87  1547.818996

In [4]:
coca.isnull().sum()

Quarter    0
Sales      0
dtype: int64

In [5]:
quarter=["Q1,Q2,Q3,Q4"]
p=coca["Quarter"][0]

In [6]:
p[0:2]

'Q1'

In [7]:
coca["sales"]=0

In [8]:
for i in range(42):
    p=coca["Quarter"][i]
    coca["sales"][i]=p[0:2]

<ipython-input-8-3b983c07bf71>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coca["sales"][i]=p[0:2]
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
quarter_dummies=pd.DataFrame(pd.get_dummies(coca["sales"]))
Coca=pd.concat([coca,quarter_dummies],axis=1)

In [25]:
Coca.head()

  Quarter        Sales sales  Q1  Q2  Q3  Q4  t  t_square  log_sales
0   Q1_86  1734.827000    Q1   1   0   0   0  1         1   7.458663
1   Q2_86  2244.960999    Q2   0   1   0   0  2         4   7.716443
2   Q3_86  2533.804993    Q3   0   0   1   0  3         9   7.837477
3   Q4_86  2154.962997    Q4   0   0   0   1  4        16   7.675529
4   Q1_87  1547.818996    Q1   1   0   0   0  5        25   7.344602

In [10]:
Coca["t"]=np.arange(1,43)
Coca["t_square"]=Coca["t"]*Coca["t"]
Coca["log_sales"]=np.log(Coca["Sales"])

In [11]:
Train=Coca.head(38)
Test=Coca.tail(4)
Test=Test.set_index(np.arange(1,5))

In [12]:
Lin_model=snf.ols("Sales~t",data=Train).fit()
Lin_pred=pd.Series(Lin_model.predict(pd.DataFrame(Test["t"])))
Lin_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(Lin_pred))**2))
Lin_rmse

591.553295722396

In [13]:
Quad_model=snf.ols("Sales~t+t_square",data=Train).fit()
Quad_pred=pd.Series(Quad_model.predict(pd.DataFrame(Test[["t","t_square"]])))
Quad_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(Quad_pred))**2))
Quad_rmse

475.5618351831504

In [14]:
Exp_model=snf.ols("log_sales~t",data=Train).fit()
Exp_pred=pd.Series(Exp_model.predict(pd.DataFrame(Test["t"])))
Exp_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(np.exp(Exp_pred)))**2))
Exp_rmse

466.2479731067161

In [15]:
Add_sea=snf.ols("Sales~Q1+Q2+Q3+Q4",data=Train).fit()
Add_pred=pd.Series(Add_sea.predict(pd.DataFrame(Test[["Q1","Q2","Q3","Q4"]])))
Add_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(Add_pred))**2))
Add_rmse

1860.0238154547274

In [16]:
Add_lin_sea=snf.ols("Sales~Q1+Q2+Q3+Q4+t",data=Train).fit()
Add_lin_pred=pd.Series(Add_lin_sea.predict(pd.DataFrame(Test[["Q1","Q2","Q3","Q4","t"]])))
Add_lin_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(Add_lin_pred))**2))
Add_lin_rmse

464.98290239822353

In [17]:
Add_Quad_sea=snf.ols("Sales~Q1+Q2+Q3+Q4+t+t_square",data=Train).fit()
Add_Quad_pred=pd.Series(Add_Quad_sea.predict(pd.DataFrame(Test[["Q1","Q2","Q3","Q4","t","t_square"]])))
Add_Quad_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(Add_Quad_pred))**2))
Add_Quad_rmse

301.73800719350953

In [18]:
Mul_model=snf.ols("log_sales~Q1+Q2+Q3+Q4",data=Train).fit()
Mul_pred=pd.Series(Mul_model.predict(pd.DataFrame(Test[["Q1","Q2","Q3","Q4"]])))
Mul_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(np.exp(Mul_pred)))**2))
Mul_rmse

1963.3896400779681

In [19]:
Mul_lin_model=snf.ols("log_sales~Q1+Q2+Q3+Q4+t",data=Train).fit()
Mul_lin_pred=pd.Series(Mul_lin_model.predict(pd.DataFrame(Test[["Q1","Q2","Q3","Q4","t"]])))
Mul_lin_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(np.exp(Mul_lin_pred)))**2))
Mul_lin_rmse

225.52439049826037

In [20]:
Mul_lin_quad_model=snf.ols("log_sales~Q1+Q2+Q3+Q4+t+t_square",data=Train).fit()
Mul_lin_quad_pred=pd.Series(Mul_lin_quad_model.predict(pd.DataFrame(Test[["Q1","Q2","Q3","Q4","t","t_square"]])))
Mul_lin_quad_rmse=np.sqrt(np.mean((np.array(Test["Sales"])-np.array(np.exp(Mul_lin_quad_pred)))**2))
Mul_lin_quad_rmse

581.8457187976113

In [21]:
Rmse_Table={"Model":pd.Series(["Lin_rmse","Quad_rmse","Exp_rmse","Add_rmse","Add_lin_rmse","Add_Quad_rmse","Mul_rmse","Mul_lin_rmse","Mul_lin_quad_rmse"]),"RMSE_Values":pd.Series([Lin_rmse,Quad_rmse,Exp_rmse,Add_rmse,Add_lin_rmse,Add_Quad_rmse,Mul_rmse,Mul_lin_rmse,Mul_lin_quad_rmse])}
Rmse_Table=pd.DataFrame(Rmse_Table)
Rmse_Table

               Model  RMSE_Values
0           Lin_rmse   591.553296
1          Quad_rmse   475.561835
2           Exp_rmse   466.247973
3           Add_rmse  1860.023815
4       Add_lin_rmse   464.982902
5      Add_Quad_rmse   301.738007
6           Mul_rmse  1963.389640
7       Mul_lin_rmse   225.524390
8  Mul_lin_quad_rmse   581.845719

In [22]:
Final=Mul_lin_model=snf.ols("log_sales~Q1+Q2+Q3+Q4+t",data=Coca).fit()

In [23]:
Final