In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB
from sklearn.model_selection import train_test_split

In [3]:
salary_train=pd.read_csv("C:\\Users\\Admin\\Downloads\\SalaryData_Train.csv")
salary_test=pd.read_csv("C:\\Users\\Admin\\Downloads\\SalaryData_Test.csv")

In [4]:
string_columns=["workclass","maritalstatus","occupation","relationship","education","race","sex","native"]

In [5]:
le=LabelEncoder()

In [6]:
for i in string_columns:
    salary_train[i]=le.fit_transform(salary_train[i])
    salary_test[i]=le.fit_transform(salary_test[i])

In [7]:
x_train=salary_train.iloc[:,0:12]
y_train=salary_train.iloc[:,13]
x_test=salary_test.iloc[:,0:12]
y_test=salary_test.iloc[:,13]

In [8]:
classifiers_mb=MB()
classifiers_mb.fit(x_train,y_train)
train_pred_mb=classifiers_mb.predict(x_train)
train_accu_mb=np.mean(train_pred_mb==y_train)
pd.crosstab(train_pred_mb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21717   5913
 >50K      936   1595

In [9]:
test_pred_mb=classifiers_mb.predict(x_test)
test_accu_mb=np.mean(test_pred_mb==y_test)
pd.crosstab(test_pred_mb,y_test)

Salary   <=50K   >50K
row_0
 <=50K   10891   2920
 >50K      469    780

In [16]:
test_pred_mb

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [17]:
test_accu_mb

0.7749667994687915

In [10]:
classifiers_gb=GB()
classifiers_gb.fit(x_train,y_train)
train_pred_gb=classifiers_gb.predict(x_train)
train_accu_gb=np.mean(train_pred_gb==y_train)
pd.crosstab(train_pred_gb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21506   5040
 >50K     1147   2468

In [11]:
test_pred_gb=classifiers_gb.predict(x_test)
test_accu_gb=np.mean(test_pred_gb==y_test)

In [12]:
test_pred_gb

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [13]:
test_accu_gb

0.7942895086321381