In [17]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
fraud = pd.read_csv("C:\\Users\\Admin\\Downloads\\Fraud_check.csv")

In [3]:
fraud.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [4]:
fraud.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [5]:
fraud.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [6]:
fraud[fraud.duplicated()].shape

(0, 6)

In [9]:
fraud = fraud.rename({'Taxable.Income': 'TaxableIncome'}, axis=1)

In [11]:
fraud['TaxableIncome'] = pd.cut(fraud.TaxableIncome,bins=(0,30000,199778),labels=['Risky','Good'])
fraud

,Undergrad,Marital.Status,TaxableIncome,City.Population,Work.Experience,Urban
0,NO,Single,Good,50047,10,YES
1,YES,Divorced,Good,134075,18,YES
2,NO,Married,Good,160205,30,YES
3,YES,Single,Good,193264,15,YES
4,NO,Married,Good,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,Good,39492,7,YES
596,YES,Divorced,Good,55369,2,YES
597,NO,Divorced,Good,154058,0,YES
598,YES,Married,Good,180083,17,NO
599,NO,Divorced,Good,158137,16,NO

In [13]:
x = fraud.iloc[:,:-1]
y=fraud.iloc[:,-1]

In [15]:
label_encoder_x=LabelEncoder()

In [16]:
x=x.apply(LabelEncoder().fit_transform)

In [18]:
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=100,criterion="entropy")
rf

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [19]:
rf.fit(x,y)

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [20]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=36475096),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=82761575),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1599077535),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=268767399),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1493229835),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1532965295),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1748053829),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1726206984),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2102603974),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2363877),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1167725010),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1377230765),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1345160994),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1650927084),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=33947863),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1561960085),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1742347933),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1908700752),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=479517473),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1931974633),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1613293391),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1113701871),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1319644377),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=719036355),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1191832584),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=675304285),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=161854429),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1990078571),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1029184923),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2034980235),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1132002223),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1141683025),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1152094757),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1957047180),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1064969465),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2061008815),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1754313659),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=361568526),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1452035684),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1841548847),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1981248321),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=317436126),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=366051037),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=647406744),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1015640965),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1249475696),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=578768614),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1906195043),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1592918971),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=852005406),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1443854684),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=377129075),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1691106304),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1351816985),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=954184971),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=529221780),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1359544586),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=154902696),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1184329199),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2029155120),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1058724112),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=493428180),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=131936325),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1792756588),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=673556135),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=382486045),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1564738374),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1711490370),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1484409253),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1443254638),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1126261265),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1034574143),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=993770230),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=14118778),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1398736007),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=810159670),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=639961153),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=850232842),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1864238591),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=471969879),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1034251302),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1749346045),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1169149886),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=899103398),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2117739402),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=149091421),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1200163700),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1073100486),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=457066582),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1599155864),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=95947930),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=635628184),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1450136408),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1040055424),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1476595128),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1713039761),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2095349250),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1394947335),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=31344037),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1907518928)]

In [21]:
rf.classes_

array(['NO', 'YES'], dtype=object)

In [22]:
rf.n_classes_

2

In [23]:
rf.n_features_

5

In [24]:
rf.n_outputs_

1

In [25]:
rf.oob_score_

0.5233333333333333

In [26]:
rf.predict(x)

array(['YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES',
       'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO',
       'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO',
       'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES',
       'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO',
       'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO',
       'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES',
       'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES',
       'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO'], dtype=object)

In [27]:
fraud['rf_pred'] = rf.predict(x)

In [28]:
cols = ['rf_pred','TaxableIncome']
cols

['rf_pred', 'TaxableIncome']

In [29]:

fraud[cols].head()

  rf_pred TaxableIncome
0     YES          Good
1     YES          Good
2     YES          Good
3     YES          Good
4      NO          Good

In [30]:
fraud['TaxableIncome']

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: TaxableIncome, Length: 600, dtype: category
Categories (2, object): [Risky < Good]

In [31]:
from sklearn.metrics import confusion_matrix
confusion_matrix(fraud['TaxableIncome'],fraud['rf_pred'])

array([[  0, 237,   0, 239],
       [  0,   0,   0,   0],
       [  0,  61,   0,  63],
       [  0,   0,   0,   0]], dtype=int64)

In [32]:
pd.crosstab(fraud['TaxableIncome'],fraud['rf_pred'])

rf_pred         NO  YES
TaxableIncome
Risky           61   63
Good           237  239